/*
order for generating syles:
1.- Positioning
2.- Box model
3.- Typography 
4.- Visuals (shadow-box, border-radius, etc.)
5.- Others 
*/
:root {
    /* Colors */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

        /****Font size****/
/* 
 I would never resize html/root font size down to 62.5% mainly because it is completely unnecessary, and it carries risk.
 You are correct you can mitigate against the accessibility issues by scaling the font size back up with 1.6rem on the body, BUT
     -- not all elements inherit font size from the body so you have to remember to manually scale up them as well.
     -- you need to do extra testing for that reason.
     -- any rem sizes on third party components or plugins you bring in will need loads more overrides.
     -- because you’re changing an established default, you cannot guarantee it will work correctly for everyone on every device, operating system, browser and tech set up.*/

/* more information: https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/#the-625-trick */
--14px: 0.875rem;
--15px: 0.9375rem;
--15_5px: 0.96875rem;
--18px: 1.125rem;
--19px: 1.1875rem;
--20px: 1.25rem;
--21px: 1.3125rem;
--22px: 1.375rem;
--23px: 1.4375rem;
--24px: 1.5rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 20rem; /*320px */
    height: 20.875rem; /*334px*/
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}
header img {
    width: 9.375rem; /*150px*/
    height: 1.5rem;
    margin-top: 3.75rem;
    align-self: center; /*This is the way to align an element 
    that have a display-flex container*/
}
.header--title-container {
    /*The following three lines will help us to keep the title
     container at a size of 90%, this with a width between 
     288px and 900px*/
    width: 90%;
    min-width: 18rem; /*288px*/
    max-width: 56.25rem; /*900px*/
    /*--------------------------------------------------------*/
    margin-top: 2.5rem; /*40px*/
    text-align: center;
    align-self: center;

}
.header--title-container h1 {
    font-size: var(--24px);
    font-weight: bold;
    line-height: 1.625rem; /*26px, this is the inter-line space*/
    color: var(--just-white)
}
.header--title-container p {
    margin-top: 1.5625rem;/*25px*/
    font-size: var(--14px);
    font-weight: 500;
    line-height: 1.125rem;/*18px*/
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 7.125rem); /*50% - 114px*/
    top: 16.875rem; /*270px*/
    display: block;
    margin-top: 2.1875rem; /* 35px */
    padding: 0.9375rem; /* 15px */
    width: 14.3125rem; /* 229px */
    height: 3rem; /* 48px */
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73,30,0.16);
    border: none;
    border-radius: 0.3125rem; /* 5px */
    font-size: var(--14px);
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 0.8125rem; /*13px*/
    height: 0.5rem; /* 8px */
    margin-left: 0.625rem; /* 10px */
    background-image: url(./assets/icons/down-arrow.svg);
}
main {
    width: 100%;
    min-width: 20rem; /* 320px */
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 5rem; /* 80px */
    padding-bottom: 1.875rem; /* 30px */
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 18rem; /* 288px */
    max-width: 56.25rem; /* 900px */
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 12.5rem; /* 200px */
    height: 12.5rem; /* 200px */
    margin: 0 auto; /* To positioning in the center */
    margin-bottom: 3.125rem; /* 50px */
    background-image: url(./assets/img/Bitcoin.svg);
    /*To ensure that the image is always in the center:*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: var(--24px);
    font-weight: bold;
    line-height: 1.625rem; /* 26px */
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 1.875rem; /* 30px */
    font-size: var(--14px);
    font-weight: 500;
    line-height: 1rem; /* 16px */
    color: #757575;
}
/******************************************************************/
/*---------------------- TABLES SECTION --------------------------*/
/******************************************************************/
.main-currency-table, 
.main-comission-table {
    width: 70%;
    min-width: 14.6875rem; /*235px*/
    max-width: 31.25rem; /*500px*/
    height: 22.5rem; /*360px*/
    margin: 0 auto;  /* To positioning in the center */
    margin-bottom: 1.875rem; /* 30px */
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
    margin-bottom: 0.9375rem; /* 15px */  
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
    line-height: 1.4375rem; /* 23px */
    text-align: start;
    color: var(--bitcoin-orange);
}
.main-comission-table .comission-table--title {
    margin-bottom: 0.9375rem; /* 15px */  
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
    line-height: 1.4375rem; /* 23px */
    text-align: start;
    color: var(--secondary-blue);
}
.currency-table--container,
.comission-table--container {
    width: 90%; /*90% of the principal container*/
    min-width: 14.375rem; /*320px*/
    max-width: 18.75rem; /*300px*/
    height: 15.625rem; /*250px*/
    margin: 0 auto;  /* To positioning in the center */
}
.currency-table--container table,
.comission-table--container table  {
    /*all the space of its father container:*/
    width: 100%;
    height: 100%;
}
.currency-table--container td,
.comission-table--container td  {
    width: 50%;
    font-size: var(--16px) ; /* 16px */
    font-weight: 500; 
    line-height: 1.1875rem; /* 19px */
    color: var(--gray);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left,
.comission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right,
.comission-table--container .table__top-right  {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left,
.comission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right,
.comission-table--container .table__bottom-right  {
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right,
.comission-table--container .table__right  {
    font-size: var(--14px);
    font-weight: normal;
    line-height: 1.0625rem; /* 17px */
    color: #757575;
}
.currency-table--container .down, 
.down-ripple,
.down-stellar {
    display: inline-block;
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
    margin-left: 0.625rem; /* 10px */
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
    margin-left: 0.625rem; /* 10px */
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width: 11.875rem; /* 190px */
    height: 2.6rem; /* 41.6px */
    margin: 0 auto;
    margin-top: 0.9375rem; /* 15px */
    padding: 0.5rem; /* 8px */
    background-color: var(--soft-orange);
    border-radius: 0.5rem; /* 8px */
}

.comission-table--date {
    width: 11.875rem; /* 190px */
    height: 2.6rem; /* 41.6px */
    margin: 0 auto;
    margin-top: 0.9375rem; /* 15px */
    padding: 0.5rem; /* 8px */
    background-color: var(--soft-blue);
    border-radius: 0.5rem; /* 8px */
}
.currency-table--date p, 
.comission-table--date p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    color: var(--warm-black);
}
/******************************************************************/
/*-------------------- PRODUCT DETAIL SECTION --------------------*/
/******************************************************************/

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 20rem; /* 320 px */
    height: auto;
    padding: 1.25rem 0.625rem; /*20px top and bottom, 10px right and left*/
    background-color: var(--warm-black);
}
.product-detail--batata-logo {
    position: absolute; /* The father must have the relative position
    (".main-product-detail" in this case)*/
    width: 2.5rem; /* 40px */
    height: 1.5625rem; /* 25px */
    top: -0.625rem; /* -10px */
    left: calc(50% - 1.25rem);
    background-image: url(./assets/icons/batata.svg);
}
.product-detail--title {
    width: 90%;
    min-width: 18rem; /* 288px */
    height: auto;
    margin: 0 auto; /* for center the div */
    margin-top: 3.125rem; /* 50px */ 
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 1.25rem; /* 20px */
    font-size: var(--24px);
    font-weight: bold;
    line-height: 1.625rem; /* 26px */
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 1.25rem; /* 20px */
    font-size: var(--14px);
    font-weight: 500;
    line-height: 1.125rem; /* 18px */
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 18rem; /* 288px */
    max-width: 25rem; /* 400px */
    height: 9.375rem; /* 150px */
    margin: 0.9375rem auto; /*To center the container*/
    padding: 0.9375rem; /* 15px */
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);    
}
.product-detail--card .clock {
    display: inline-block;
    width: 1.25rem; 
    height: 1.25rem;
    margin-bottom: 0.625rem;
    background-image: url(./assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye {
    display: inline-block;
    width: 1.25rem; 
    height: 1.25rem;
    margin-bottom: 0.625rem;
    background-image: url(./assets/icons/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .buy {
    display: inline-block;
    width: 1.25rem; 
    height: 1.25rem;
    margin-bottom: 0.625rem;
    background-image: url(./assets/icons/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .nike {
    display: inline-block;
    width: 1.25rem; 
    height: 1.25rem;
    margin-bottom: 0.625rem;
    background-image: url(./assets/icons/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 0.9375rem; /* 15px */
    font-size: var(--18px);
    font-weight: bold;
    line-height: var(--18px);
    color: var(--just-white);
}
.product--card-body {
    font-size: var(--14px);
    font-weight: 500;
    line-height: var(--18px);
    color: #808080;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 20rem; /* 320px */
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: var(--24px);
    font-weight: bold;
    line-height: 26px;
    color: var(--just-white);
    text-align: center;
}